.head{
    background-color: green;
    color: white;
    text-align: center;
    font-size: 49px;
    line-height: 80px;

}
.head:hover{
    background-color: rgb(1, 49, 33);
}
.paragraph{
    background-color:rgb(0, 0, 0) ;
    line-height: 80px;
    font-size: 20px;
    color: white;
}

.list{
    font-size: 30px;
    margin: 25px;
    font-style: italic;
    
   

}
.foot{
    font-size: 40px;
    font-weight: bold;
font-style: italic;
background-color: rgb(1, 49, 33);
color: white;
}