



button{
    background-color: hsl(34, 95%, 34%);

    width: 150px;
    height: 80px;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: auto;


}
button:hover{
    background-color: rgb(244, 244, 245);
}
form{
    background-color: rgba(4, 62, 16, 0.947);
    width: 70%;
    margin: auto;
    padding: 45px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}
legend{

    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
input[type=text], input[type=email],input[type=password], input[type=tel]{

    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
}
body{
    background-color: beige;
}